.text-center {
  text-transform: none;
}

.title-portfolio {
  color: var(--color-secundario);
  font-weight: bold;
  margin-block: 2rem;
}

.portfolio-item {
  flex-basis: 400px;
  background-color: var(--color-primario);
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  height: 100%;
}

.portfolio-item img {
  margin-bottom: 1rem;
}

.custom-btn {
  background-color: var(--color-secundario);
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 4px 4px;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

.custom-btn:hover {
  background-color: var(--color-secundario-hover);
}

.disabled-btn {
  border: none;
  cursor: not-allowed;
  filter: grayscale(1);
}

.avances-container {
  width: 1000px; /* Ancho del contenedor */
  background-color: var(--color-primario);
  padding: 50px;
  color: var(--color-secundario);
  margin: 60px;
  margin-bottom: 25px;
  border: 5px solid #fff;
  text-align: center;
}

.avances-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.proto {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-secundario);
  text-align: center;
  margin-top: 50px;
}

.proto-2 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-secundario);
  text-align: center;
  display: block;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.avances-container p {
  font-size: 16px;
}

.tech-logo {
  max-height: 200px;
}

.color-box {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .portfolio-item {
    max-width: 100%;
  }

  .avances-container {
    width: 100%;
    padding: 20px;
  }
}
